div{
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
   
}
app-header{
    width: 100vw;
}

app-footer{
    width: 100vw;
}
h1{
    text-align: center;
    margin-top: 1%;
}

.Contenedor-info{
    display: flex;
    padding: 5%;
    margin-top: -100px;
}
.img0{
   width: 30%;
   height: 30%;
}
.text-info{
 margin-left: 5%;
}



@media screen and (max-width: 600px) {
    .Contenedor-info{
        display: block;
    }
    .img0{
        width: 65%;
        margin: 15% 20% 0px ;
        text-align: center;
        display: block;
     }
     h1{
        text-align: center;
        display: block;
     }
}