<div>
  <app-header></app-header>
  <h1>Nosotros</h1>
  <span class="Contenedor-info">
    <img [src]="img[0]" alt="" class="img0">
    <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, odio inventore! Temporibus
      saepe rem, numquam dolores enim molestiae nobis eum distinctio iusto nisi praesentium! Itaque eaque nihil quod
      dolore temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae odit, praesentium nisi
      illum reprehenderit expedita dolores voluptatem autem laborum inventore facilis commodi. Quasi officia praesentium
      dolores accusamus adipisci nulla consequuntur.s</p>
  </span>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>