<div>
  <app-header></app-header>
  <span class="title">
    <h1>Mision</h1>
  </span>

  <span class="Contenedor-info">
    <img [src]="img[0]" alt="" class="img0">
    <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, odio inventore! Temporibus
      saepe rem, numquam dolores enim molestiae nobis eum distinctio iusto nisi praesentium! Itaque eaque nihil quod
      dolore temporibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae odit, praesentium nisi
      illum reprehenderit expedita dolores voluptatem autem laborum inventore facilis commodi. Quasi officia praesentium
      dolores accusamus adipisci nulla consequuntur.s</p>
  </span>
  <span class="title1">
    <h1>Vision</h1>
  </span>
  <span class="contenedor-info-left">
    <img [src]="img[1]" alt="" class="img01">

    <p class="text-info1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi saepe quo, obcaecati
      voluptate illum magnam beatae fuga iste aut magni deserunt quia placeat maxime ad architecto? Pariatur quaerat eum
      officia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Id distinctio, ad placeat eveniet dolore voluptas
      vero quo ipsum quibusdam inventore autem, suscipit in repellat soluta facere adipisci, dignissimos earum tempore.s
    </p>
    
  </span>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>