.botonesFlotantes{
    position: fixed;
    right: 1%;
    bottom: 20%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--textContrast);
}

.botonesFlotantes img{
    width: 5vh;
    z-index: 10;
    height: auto;
    cursor: pointer;
}

.botonesFlotantes div{
    margin-top: -125%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    word-break: break-all;
    text-align: center;
    border-radius: 10px;
    background-color: var(--main);
}

.botonesFlotantes div p{
    font-size: 12px;
    color: var(--second);
    writing-mode: vertical-lr;
    margin: 0px;
}