.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    overflow: hidden;

  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para botones de navegación (opcional) */
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: goldenrod;
  }
  
  button:first-child {
    left: 10px;
  }
  
  button:last-child {
    right: 10px;
  }
  