.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 35vh;
}

mat-card {
  width: 80vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

mat-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

button.prev-button {
  left: 10px;
}

button.next-button {
  right: 10px;
}
