.footer-container {
    background-color: var(--main);
    color: var(--textContrast);
    padding: 2vh 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 30%;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.style-container-col {
    display: flex;
    flex-direction: column;
}

.style-container-col a {
    margin-right: 10px;
    color: inherit;
    text-decoration: none;
}

.style-container-col a:hover {
    text-decoration: underline;
    color: var(--textContrast);
}

.footer-section a {
    text-decoration: none;
    color: var(--textContrast);
}

.mat-list-base{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

.mat-nav-list a {
    display: block;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}

.mat-nav-list a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-section {
        flex: 1 1 100%;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}