<div>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-carusel></app-carusel>
    <span class="principal-container">
        <span class="third-continer">
            <h2> <b>Somos los mejores</b></h2>
            <p>Contamos con mas de 35 años de experiencia Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                quas, temporibus reiciendis sunt tenetur omnis nam? Aperiam nostrum, cumque quaerat pariatur obcaecati
                nihil modi accusantium fugiat, ullam beatae voluptatibus optio!</p>
        </span>
            <span class="second-continer">
                <img src="./../../../../assets/img/principalpage.jpg" alt="">
            </span>
    </span>
    <app-footer></app-footer>
</div>