/* You can add global styles to this file, and also import other style files */
:root {
    --main: #333;
    --textContrast: #fff;
  }

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
